/* Footer styles */

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: rgba(32, 32, 32, 0.9);
  border-radius: 20px 20px 0 0;
  padding: 2px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
  border-color: white; 
}

.footer h4 {
  font-size: 1.2em;
  margin: 0;
  padding: 7.5px;
}
