.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: rgba(51,51,51,0.4);
  border: 0.5px solid rgba(255,255,255,0.25);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(px);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 400px;
  max-width: 80%;
  text-align: center;
}

.close-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background: rgba(191,181,181,0.6);
  -webkit-backdrop-filter: blur(36px);
  backdrop-filter: blur(36px);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
