/*
 * NOT MY CODE
 ** Please vist https://codepen.io/denic/pen/GRoOxbM
 ** for actual source code of the typing effect.
 */

.wrapper {
  display: grid;
  place-items: center;
}

.typing-effect {
  width: 16ch; /* the 16 characters part is very hardcoded - because the code is not mine haha. */
  animation: typing 1.5s steps(25), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  } 
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}